# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 72975e4d1b72466fae80c5a75a43e0c67b50e9df051c249988182927f677f1afce7150728851ec445da2f05d1e19396ada71c5994d72e7ee787dbbb34b61e85c

test:
  secret_key_base: 64ce40cc035a9f8fa3075877c2574a3eae60d9eccbefd7c3cf4e29d238db0d9a57ce5a891a243823382ea5a73ca337f7a9506a6d75ccbe830d02cc31e58c469c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
